@charset "UTF-8";
/**田会飞**/
.in-bl{display:inline-block;}

/** 标题 **/
.title{text-align: center}
.title h1{font-size:30px;font-weight:bolder ;color:#00a0e9;}
.title small{font-size:18px;color:#222;}
/**田会飞end**/





/**郑成杰**/


/**郑成杰end**/



/**阿里图标字体库引入**/
@font-face {
    font-family: 'iconfont';
    src: url('//at.alicdn.com/t/font_1467176119_7320998.eot'); /* IE9*/
    src: url('//at.alicdn.com/t/font_1467176119_7320998.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('//at.alicdn.com/t/font_1467176119_7320998.woff') format('woff'), /* chrome、firefox */
    url('//at.alicdn.com/t/font_1467176119_7320998.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('//at.alicdn.com/t/font_1467176119_7320998.svg#iconfont') format('svg'); /* iOS 4.1- */
}
/**阿里图标字体库引入end**/




