.main .section{
    padding-bottom: 30px;
    background-color: #fff;
}
.main .section1 .row{
    margin-top: 45px;
}
.main .section1 .item-box .item{
    width: 130px;
    height: 130px;
    border-radius: 4px;
    margin: 0 auto;
    position: relative;
    -moz-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    -ms-transform: scale(1.0);
    -o-transform: scale(1.0);
    transform: scale(1.0);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.main .section1 .item-box .item:hover{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.main .section1 .item-box .item>i{
    font-size: 60px;
    color: #fff;
    position: relative;
    left: 50%;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    line-height: 130px;
    display: inline-block;
}
.main .section1 .item-box .item .hot{
    width: 40px;
    height: 40px;
    background-color: rgb(229,0,79);
    border-radius: 50%;
    color: #fff;
    position: absolute;
    right: -16px;
    top: -16px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
}
.main .section1 .item-box .item.item1{
    background-color: rgb(103,51,186);
}
.main .section1 .item-box .item.item2{
    background-color: rgb(62,78,184);
}
.main .section1 .item-box .item.item3{
    background-color: rgb(16,148,246);
}
.main .section1 .item-box .item.item4{
    background-color: rgb(0,188,214);
}
.main .section1 .item-box .item.item5{
    background-color: rgb(0,150,136);
}
.main .section1 .item-box .item.item6{
    background-color: rgb(71,176,75);
}
.main .section1 .item-box h2{
    font-size: 20px;
    color: rgb(34,34,34);
    font-weight: bold;
    margin: 11px 0 7px 0;
    text-align: center;
}
.main .section1 .item-box h3{
    margin: 0 0 15px 0;
    font-size: 15px;
    color: rgb(100,100,100);
    text-align: center;
}

.main .section2 .fa-chevron-left,.main .section2 .fa-chevron-right{
    position: absolute;
    top: 50%;
    -webkit-transform: translatY(-50%);
    -moz-transform: translatY(-50%);
    -ms-transform: translatY(-50%);
    -o-transform: translatY(-50%);
    transform: translatY(-50%);
}
.main .section2 .caption-content .case-number{
    background-color: rgb(0,160,233);
    padding: 2px;
    border-radius: 3px;
    margin-right: 10px;
    color: #fff;
}






.main .section3{
    background-color: rgb(246,247,249);
}
.main .section .title{
    position: relative;
    padding-bottom: 20px;
}
.main .section .title>a.more{
    color: #7b7b7b;
    font-size: 18px;
    position: absolute;
    right: 5px;
    bottom: 20px;
}
/** 手机屏幕时 **/
@media (max-width: 768px) {
    .main .section2 .caption-content{
        font-size: 20px;
    }
}