@charset "UTF-8";
.online-bg{background: url("../images/online.png") no-repeat center center;}
.line h2{color:#18df59;font-size: 48px;}
.line h3{color:#18df59;font-size:18px;}

.hot-line h2 {color:#000;font-size: 32px;}
.hot-line h3 {color:#000;font-size: 51px;}