@charset "UTF-8";

.register{background-color: #FFF;}
.register .input-group{margin:10px 0;}
.register-title{color:#ffb74d;font-size: 29px;}
.pad-0{padding:0;}
.verification-btn{margin:10px 0;}

.checkbox{font-size: 16px;}
.checkbox a{color:#ffb74d;}

.register-submit{margin:10px 0;}
.register-hint{color:#686868;font-size: 18px;margin-top:65px;}
.register-hint-list{padding-left:0;color:#686868;font-size: 16px;}
.register-hint-list li{margin:7px 0;}
