.main.main-personal{
    padding: 30px 0;
    background-color: rgb(245,245,245);
}
.main-personal .menu-content{
    padding: 0 15px;
}
.menu-content ul{
    margin: 0;
    list-style: none;
    padding: 0;
}
.personal-menu ul li{
    margin: 0 0 10px 0;
}
.personal-menu ul li .menu-item{
    display: block;
    padding: 20px 30px;
    background-color: #fff;
}
.personal-menu ul li .menu-item.active{
    background-color: rgb(16,148,246);
}
.personal-menu .menu-item.active i.personal-icon{
    color: #fff;
}
.personal-menu .menu-item.active .menu-item-title h2{
    color: #fff;
}
.personal-menu .menu-item.active .menu-item-title h3{
    color: #fff;
}
.personal-menu ul li .menu-item:hover{
    background-color: rgb(16,148,246);
}
.personal-menu .menu-item:hover i.personal-icon{
    color: #fff;
}
.personal-menu .menu-item:hover .menu-item-title h2{
    color: #fff;
}
.personal-menu .menu-item:hover .menu-item-title h3{
    color: #fff;
}
.personal-menu .menu-item .menu-item-title{
    display: inline-block;
    margin-left: 10px;
}
.personal-menu .menu-item i.personal-icon{
    color: rgb(16,148,246);
    font-size: 50px;
    min-width: 50px;
    display: inline-block;
    line-height: 1;
}
.personal-menu .menu-item .menu-item-title h2{
    font-size: 24.47px;
    color: rgb(34,34,34);
    margin: 0 0 5px 0;
}
.personal-menu .menu-item .menu-item-title h3{
    font-size: 12.24px;
    color: rgb(100,100,100);
    margin: 0;
}
.menu-content{
    background-color: #fff;
    /*min-height: 700px;*/
}


.menu-content .status-bar{
    max-width: 460px;
    height: 10px;
    margin: 30px auto 0 auto;
    position: relative;
}
.menu-content .status-bar>.status-item{
    width: 66px;
    height: 66px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: rgb(202,202,202);
    font-size: 18px;
    text-align: center;
    line-height: 66px;
    color: #fff;
    z-index: 2;
    cursor: pointer;
}
.menu-content .status-bar>.bar-part{
    position: absolute;
    width: 50%;
    background-color: rgb(202,202,202);
    height: 100%;
    top: 0;
    z-index: 1;
}
.menu-content .status-bar>.bar-part1{
    left: 0;
}
.menu-content .status-bar>.bar-part2{
    right: 0;
}
.menu-content .status-bar>.status-item.active{
    background-color: rgb(16,148,246);
}
.menu-content .status-bar>.status-item1{
    left: 0;
}
.menu-content .status-bar>.status-item2{
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.menu-content .status-bar>.status-item3{
    right: 0;
}
.menu-content .status-bar>.status-item1.active+.bar-part{
    background-color: rgb(16,148,246);
}
.menu-content .status-bar>.status-item2.active+.bar-part{
    background-color: rgb(16,148,246);
}
