.personal-menu ul{
    margin: 0;
    list-style: none;
}
.personal-menu ul li{
    margin: 0 0 10px 0;
}
.personal-menu ul li .menu-item{
    display: block;
    padding: 20px 30px;
    background-color: #fff;
}
.personal-menu ul li .menu-item.active{
    background-color: rgb(16,148,246);
}
.personal-menu .menu-item.active i.personal-icon{
    color: #fff;
}
.personal-menu .menu-item.active .menu-item-title h2{
    color: #fff;
}
.personal-menu .menu-item.active .menu-item-title h3{
    color: #fff;
}
.personal-menu ul li .menu-item:hover{
    background-color: rgb(16,148,246);
}
.personal-menu .menu-item:hover i.personal-icon{
    color: #fff;
}
.personal-menu .menu-item:hover .menu-item-title h2{
    color: #fff;
}
.personal-menu .menu-item:hover .menu-item-title h3{
    color: #fff;
}
.personal-menu .menu-item .menu-item-title{
    display: inline-block;
    margin-left: 10px;
}
.personal-menu .menu-item i.personal-icon{
    color: rgb(16,148,246);
    font-size: 50px;
    min-width: 50px;
    display: inline-block;
}
.personal-menu .menu-item .menu-item-title h2{
    font-size: 24.47px;
    color: rgb(34,34,34);
    margin: 0 0 5px 0;
}
.personal-menu .menu-item .menu-item-title h3{
    font-size: 12.24px;
    color: rgb(100,100,100);
    margin: 0;
}